<!doctype html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>请假</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
			integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
	</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-1 main">
					<div class="table-responsive" id="app">
						<h1>周计划文件上传</h1>
						<input type="file" id="file" />
						<button @click="upload('0')">提交</button>
						<table class="table table-striped" v-if="report.length!=0">
							<thead>
								<tr>
									<th>序号</th>
									<th>汇报时间</th>
									<th>姓名</th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="(el, index) in report">
									<td>[[ index ]]</td>
									<td>[[ el[0] ]]</td>
									<td>[[ el[1] ]]</td>
								</tr>
							</tbody>
						</table>
						<button @click="upload('1')" v-if="report.length!=0">确认上传</button>
						<h1>[[ message.message ]]</h1>
						<h2 v-if="message.用户不存在.length!=0">上传用户不存在数据:</h2>
						<table class="table table-striped" v-if="message.用户不存在.length!=0">
							<thead>
								<tr>
									<th>序号</th>
									<th>汇报时间</th>
									<th>姓名</th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="(el, index) in message.用户不存在">
									<td>[[ index ]]</td>
									<td>[[ el[0] ]]</td>
									<td>[[ el[1] ]]</td>
								</tr>
							</tbody>
						</table>
						<h2 v-if="message.重复.length!=0">上传重复数据:</h2>
						<table class="table table-striped" v-if="message.重复.length!=0">
							<thead>
								<tr>
									<th>序号</th>
									<th>汇报时间</th>
									<th>姓名</th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="(el, index) in message.重复">
									<td>[[ index ]]</td>
									<td>[[ el[0] ]]</td>
									<td>[[ el[1] ]]</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<script src="https://fastly.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"
			integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous">
		</script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
			integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous">
		</script>
		<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
		<script>
			new Vue({
				el: "#app",
				delimiters: ["[[", "]]"],
				data: {
					report: [],
					message: {
						'message': '',
						'用户不存在': [],
						'重复': []
					}
				},
				methods: {
					upload(step) {
						let data = document.getElementById("file").files[0]
						var formData = new FormData()
						formData.append("data", data)
						formData.append("step", step)
						// 1 代表日报
						// 0 代表周计划
						formData.append("report_type", 0)
						let _this = this
						$.ajax({
							type: "POST",
							data: formData,
							url: "http://127.0.0.1/load_report_data/",
							dataType: "json",
							async: false,
							cache: false,
							contentType: false,
							processData: false,
							success: function(data) {
								if (step == '0') {
									_this.report = data
								} else {
									_this.message = data
								}
							},
							error: function(data) {
								console.log("错误")
							},
						})
					},
				},
			})
		</script>
	</body>
</html>
