<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <title>Title</title>
  </head>
  <body>
    <div id="app">
      <input type="file" id="file" />
      <button @click="upload('0')">提交</button>
      <ul>
        <li v-for="el in leave">[[ el ]]</li>
      </ul>
	  [[ message.message ]]
      <button @click="upload('1')" v-if="leave.length!=0">确认上传</button>
    </div>

    <script>
      new Vue({
        el: "#app",
        delimiters: ["[[", "]]"],
        data: {
          leave: [],
		  message: []
        },
        methods: {
          upload(step) {
            let data = document.getElementById("file").files[0];
            var formData = new FormData();
            formData.append("data", data);
            formData.append("step", step);
            formData.append("report_type", 1);
            let _this = this;
            $.ajax({
              type: "POST",
              data: formData,
              url: "http://127.0.0.1/load_report_data/", // 请求的uploadFile.php的地址
              dataType: "json", // 传递数据的格式
              async: false, // 这是重要的一步，防止重复提交的
              cache: false, // 设置为false，上传文件不需要缓存。
              contentType: false, // 设置为false,因为是构造的FormData对象,所以这里设置为false。
              processData: false, // 设置为false,因为data值是FormData对象，不需要对数据做处理。
              success: function (data) {
					if(step == '0'){
						_this.leave = data;
					}else{
						_this.message = data;
					}
                
                console.log(this.leave);
              },
              error: function (data) {
                console.log("错误");
              },
            });
          },
        },
      });
    </script>
  </body>
</html>
