<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>验证码</title>
        <style>
            .code{
                font-size: 3.125rem;
                font-weight: 800;
                color: red;
            }
        </style>
    </head>
    <body>
        <p>欢迎访问成都芮驰科技有限公司薪酬管理系统！</p>
        <p>你的邮箱验证码是：</p>
        <p class="code">{{ code }}</p>
        <p>如果需要联系我们：</p>
        <p>邮箱:rechi@foxmail.com</p>
        <p>地址:成都高新区科园二路1号A楼203号</p>
    </body>
</html>